<div class="toolbars visible">
    <div class="toolbars-inner">
        <div class="toolbars-scroller" style="-webkit-transform: translateX(0px); transform: translateX(0px);">
            <div class="toolbar visible" data-type="add" style="left: 0px;">
                <div class="toolbar-list">
                    <div class="toolbar-add-block-option tooltip" title="Add Text Widget" data-widget-type="text">
                        <span class="toolbar-add-block-option-icon icon fa fa fa-font"></span>
                        <span class="toolbar-add-block-option-label">Text</span>
                    </div>
                    <div class="toolbar-add-block-option" data-widget-type="image">
                        <span class="toolbar-add-block-option-icon icon fa fa-file-image-o"></span>
                        <span class="toolbar-add-block-option-label">Image</span>
                    </div>
                    <div class="toolbar-add-block-option" data-widget-type="shape">
                        <span class="toolbar-add-block-option-icon icon fa fa fa-square-o"></span>
                        <span class="toolbar-add-block-option-label">Shape</span>
                    </div>
                    <div class="toolbar-add-block-option" data-widget-type="iframe">
                        <span class="toolbar-add-block-option-icon icon fa fa-external-link"></span>
                        <span class="toolbar-add-block-option-label">Iframe</span>
                    </div>
                    <div class="toolbar-add-block-option" data-widget-type="code">
                        <span class="toolbar-add-block-option-icon icon fa fa-code"></span>
                        <span class="toolbar-add-block-option-label">Code</span>
                    </div>
                </div>
            </div>

            {{> editor/widgets/textWidgetMenu}}
            {{> editor/widgets/codeWidgetMenu}}
        </div>
    </div>
</div>