<div class="slide-options-toolbar" style="left: 0px; margin-left: 0px; margin-top: 0px;">

    <div class="toolbar-list">
        <div class="toolbar-option tooltip" data-type="showCode" title="Edit Html code">
            <span class="toolbar-option-icon icon fa fa-file-code-o"></span>
        </div>

        <div class="toolbar-option tooltip" data-type="magnetBounds" title="Activate/Deactivate boundaries validation">
            <span class="toolbar-option-icon icon fa fa-magnet"></span>
        </div>

        <div class="toolbar-option tooltip" data-type="removeSlide" title="Remove active slide">
            <span class="toolbar-option-icon icon fa fa-trash"></span>
        </div>
    </div>

</div>