<div class="invira-label col-md-2" data-label-id="{{_id}}">
    <div class="invira-label-container">
        <div class="header-block" style="background: {{color}}">
            <h3>{{name}}</h3>
            <div class="icon-shadow">
                <span class="icon-label"></span>
            </div>
            <div class="actions">
                <a href="#" class="btn btn-white btn-round">
                    <i class="fa fa-pencil"></i>
                </a>
            </div>
        </div>
    </div>
</div>