<div class="project col-md-2">
    <div class="project-container">
        <div class="header-block">
            <h3>{{name}}</h3>
            <div class="icon-shadow">
                <span class="icon-presentation"></span>
            </div>
        </div>
        <div class="content">
            {{description}}
        </div>
    </div>
    <div class="project-action-bar">
        <a class="invira-btn invira-btn-project tooltipster" title="Share your Presentation" href="/share/{{slug}}"><i class="fa fa-share-square-o"></i></a>
        <a class="invira-btn invira-btn-project tooltipster" title="Edit your Presentation" href="/editor/set/{{_id}}"><i class="fa fa-pencil"></i></a>
    </div>
</div>