<div class="spinner" id="loading-spinner" style="display: none; width:200px; height:200px; margin-left:auto; margin-right:auto;">

    <div class="circle one">
        <div class="rotate">
            <div class="position">
                <div class="scale">
                    <div class="shape"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="circle two">
        <div class="rotate">
            <div class="position">
                <div class="scale">
                    <div class="shape"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="circle three">
        <div class="rotate">
            <div class="position">
                <div class="scale">
                    <div class="shape"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="circle four">
        <div class="rotate">
            <div class="position">
                <div class="scale">
                    <div class="shape"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="pngSpinner">
        <div class="spinnerMask">
            <div class="spinnerSprite" style="top: 0px;"></div>
        </div>
    </div>
</div>