<div class="toolbar" data-type="code" style="left: 168px;">
    <div class="toolbars-actionbar">
        <button data-role='trash' class="toolbar-button warning tooltip" title="Remove focused element">
            <i class="toolbar-button-icon fa fa-fw fa-trash"></i>
        </button>
        <button data-role='maximize' class="toolbar-button tooltip" title="Maximize focused element">
            <i class="toolbar-button-icon fa fa-fw fa-arrows-alt"></i>
        </button>
        <button data-role='depthUp' class="toolbar-button tooltip" title="Move focused element to front">
            <i class="toolbar-button-icon fa fa-fw fa-arrow-up"></i>
        </button>
        <button data-role='depthDown' class="toolbar-button tooltip" title="Move focused element to back">
            <i class="toolbar-button-icon warning fa fa-fw fa-arrow-down"></i>
        </button>
    </div>
    <div class="toolbar-container">
        <strong>CodeWidget Settings</strong>
        <div class="toolbar-option toolbar-text" data-option-type="code">
            <h4 class="toolbar-option-label">Code</h4>
            <textarea class="toolbar-text-input" maxlength="10000000" placeholder="Paste code to syntax highlight..."></textarea>
        </div>
    </div>
</div>