<div id="invira-edit-toolbar" class="edit-toolbar" dir="ltr" title="" lang="en" role="application" style="z-index: 9999; -webkit-user-select: none; top: 53.5px; position: absolute; left: 497px; display: none;">

    <button data-role='undo' class="toolbar-button">
        <i class="toolbar-button-icon fa fa-fw fa-undo"></i>
    </button>

    <button data-role='redo' class="toolbar-button">
        <i class="toolbar-button-icon fa fa-fw fa-repeat"></i>
    </button>

    <div class="toolbar-divider">
    </div>

    <label class="font-selection">
        <select data-role='formatblock'>
            <option value="p" selected>Normal</option>
            <option value="h1">Heading 1</option>
            <option value="h2">Heading 2</option>
            <option value="h3">Heading 3</option>
            <option value="h4">Heading 4</option>
            <option value="h5">Heading 5</option>
            <option value="h6">Heading 6</option>
            <option value="pre">Preformatted</option>
        </select>
    </label>

    <button data-role='color' class="toolbar-button color">
        <div class="wysiwyg-color">
            <i class="toolbar-button-icon fa fa-fw fa-desktop"></i>
        </div>
    </button>

    <button data-role='bold' class="toolbar-button">
        <i class="toolbar-button-icon fa fa-fw fa-bold"></i>
    </button>

    <button data-role='italic' class="toolbar-button">
        <i class="toolbar-button-icon fa fa-fw fa-italic"></i>
    </button>

    <button data-role='underline' class="toolbar-button">
        <i class="toolbar-button-icon fa fa-fw fa-underline"></i>
    </button>

    <button data-role='strikeThrough' class="toolbar-button">
        <i class="toolbar-button-icon fa fa-fw fa-strikethrough"></i>
    </button>

    <div class="toolbar-divider">
    </div>

    <button data-role='justifyLeft' class="toolbar-button">
        <i class="toolbar-button-icon fa fa-fw fa-align-left"></i>
    </button>

    <button data-role='justifyCenter' class="toolbar-button">
        <i class="toolbar-button-icon fa fa-fw fa-align-center"></i>
    </button>

    <button data-role='justifyRight' class="toolbar-button">
        <i class="toolbar-button-icon fa fa-fw fa-align-right"></i>
    </button>

    <div class="toolbar-divider">
    </div>

    <button data-role='insertUnorderedList' class="toolbar-button">
        <i class="toolbar-button-icon fa fa-fw fa-list-ul"></i>
    </button>

    <button data-role='insertOrderedList' class="toolbar-button">
        <i class="toolbar-button-icon fa fa-fw fa-list-ol"></i>
    </button>

</div>
