<div class="toolbar" data-type="text" style="left: 168px;">
    <div class="toolbars-actionbar">
        <button data-role='trash' class="toolbar-button warning tooltip" title="Remove focused element">
            <i class="toolbar-button-icon fa fa-fw fa-trash"></i>
        </button>
        <button data-role='maximize' class="toolbar-button tooltip" title="Maximize focused element">
            <i class="toolbar-button-icon fa fa-fw fa-arrows-alt"></i>
        </button>
        <button data-role='depthUp' class="toolbar-button tooltip" title="Move focused element to front">
            <i class="toolbar-button-icon fa fa-fw fa-arrow-up"></i>
        </button>
        <button data-role='depthDown' class="toolbar-button tooltip" title="Move focused element to back">
            <i class="toolbar-button-icon fa fa-fw fa-arrow-down"></i>
        </button>
    </div>
    <div class="toolbar-container">
        <strong>TextWidget Settings</strong>
    </div>
</div>