<div id="aboutDialog" class="dialog">
    <div class="dialog__overlay"></div>
   <div class="dialog__content">
       <div class="dialog-content-wrapper">
           <img src="/images/logo.png" />
           <h3>InVira Editor v0.0.1</h3>
           <i><strong>( Attention:</strong> This is preview software)</i><br /><br />

           <h3>Made with <i class="fa fa-heart"></i> at InApp Studio.</h3>

           <div class="row">
               <p>Create interactive presentations that look awesome on every device.</p>
               <p>Design and share presentations with our integrated design studio.</p>
           </div>
           <button class="btn btn-normal btn-normal-a action" data-dialog-close>Close</button>
       </div>
   </div>
</div>