
<footer class="main-footer">
    <div class="inner-container clearfix">

        <div>
            <h3>Made with <i class="fa fa-heart"></i> at InApp.</h3>
        </div>

        <nav class="footer-block">
            <a href="http://www.inapp.eu/articles" target="_blank">Development Blog</a>
            <a href="/dashboard">Dashboard</a>
        </nav>

        <nav class="footer-block">
            <a class="social tw" href="http://twitter.com/inappeu" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="social fb" href="http://facebook.com/inapp.eu" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="http://www.inapp.eu" target="_blank">Copyright © 2015 InApp // Design Studio.</a>
        </nav>

    </div>
</footer>

{{> javascript}}

</body>
</html>