<!DOCTYPE html>
<html lang="en" class="decks show"><!-- data-mode="preview">-->
<head>
    <meta charset="utf-8">
    <title>{{{title}}}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {{> css}}

    <script src="/js/lib/modernizr.custom.min.js"></script>
</head>
